//  ** COLORS **

// grayscale from white to black (0-9)
// calculated with https://gka.github.io
$gray0: #ffffff;
$gray1: #dfdfdf;
$gray2: #c0c0c0;
$gray3: #a3a3a3;
$gray4: #858585;
$gray5: #696969;
$gray6: #4e4e4e;
$gray7: #353535;
$gray8: #1d1d1d;
$gray9: #000000;

$primary: #00a86b;

$accent: red;

 